body{
    background: url();
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

h2{
   font-size: 6vw;
    margin: 0 0 20px 0;
}

button{
    background-color: #1f2529;
    margin: 0 auto;
    /* display: block; */
    display: inline-block;
    color: white;
    padding: 1em 1.5em ;
    border: 2.5px solid rgba(0, 0, 0, 0.342);
    border-radius: 0.65rem;
}

button:focus{
    /* transform: scale(1.1); */
    background-color: #ff000083;
    border: 4px solid #00000086;
    color: #000000a6;
    font-weight: bold;
}

#increment-btn{
    display: block;
    margin: 2px auto;
}
    
div{
    background-color: grey;
    width: 80%;
    margin: 0 auto;
    padding: 9px 0px;
    border-radius: 2rem;

    img{
        margin-top: 1rem;
        width: 15%;
    }

    p{
        font-weight: lighter; 
    }

    /* p:last-child{
        color: green;
    } */

    .different{
        background-color: white;
        color: black;
        font-weight: bolder;
        border: 2px solid black;
        border-radius: 1.5rem;
    }
}

span{
    text-decoration: underline;
}

.anon{
    background-color: rgb(3, 112, 3);
    margin-top: 3rem;
    
    h2{
        color: goldenrod;
    }

    p{
        color: white;
        font-size: larger;
    }

    button{
        background-color: goldenrod;
        color: rgb(3, 112, 3);
        font-weight: bolder;
    }

    button:last-child{
        margin: 0.2rem 0;
    }

}

.gradient {
    animation: animateBg 50s linear infinite;
    background-image: linear-gradient(90deg,#246655,#462466,#b66d52,#246655,#462466);
    background-size: 400% 100%;
}
@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}