* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.login {
    padding: 5em 0;
    margin: 0 auto;
    /* background-color: brown; */
}
.login .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin: 0 auto;
    gap: .03em;
    /* background-color: bisque; */
}
.login .row .col1 { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(22, 12, 70);
    width: 40%;
    padding: 5.5em 0;
    color: aliceblue;
}
.login .row .col1 img {
    width: 7em;
    height: 7em;
    border: 0;
    border-radius: 50%;
    margin-bottom: 1em;
}
.row .col1 h2  {
    font-size: 2em;
    margin-bottom: 1rem;
}
.row .col1 p {
    font-weight: 700;
}

.row .col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 40%;
    /* height: 100%; */
    padding: 3.6em 0;
    color: aliceblue;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
} 
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.col2 form  .pword {
    width: 70%;
    background-color: white;
    padding: 1.4em 1em;
    border: none;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .1);
    margin: 0 auto;
    border-radius: .66rem;
}
.col2 a {
    background-color: rgb(22, 12, 70);
    padding: 1.4em 1em;
    width: 70%;
    border-radius: .66rem;
    color: white;
    font-weight: 700;
    text-align: center;
}
.col2 .forgot {
    color: rgb(22, 12, 70);
    text-align: center;
    margin-top: 2em;
}
.col2 .forgot p:nth-child(1) {
    color: rgb(138, 138, 138);
    margin-top: 1em;
}
.col2 .forgot p:nth-child(2) {
    color: rgb(22, 12, 70);
    margin-top: 1em;
    font-weight: 600;
}
